* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    margin: 0 auto;
    width: 750px;
    flex: 1;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header {
    background-color: black;
    color: white;
    min-height: 50px;
    padding: 10px;
}

ul.flex {
    list-style: none
}
button {
    background-color: #17a2b8;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.top {
    flex: 1;
    display: flex;
    margin: 10px;
}

.card {
    flex: 3;
    background-color: yellow;
    min-height: 50px;
    flex-direction: column;
    justify-content:flex-start;
}

.blueHeader {
    background-color:#17a2b8;
    min-height: 50px;
}

.requests {
    flex: 2;
    background-color: antiquewhite;
    min-height: 50px;
}

.bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.education {
    flex: 3;
    background-color: indianred;
    min-height: 50px;
}

.connection {
    flex: 2;
    background-color: darkgreen;
    min-height: 50px;
}

footer {
    background-color: salmon;
    min-height: 20px;
}